<mat-sidenav-container [class.alternative]="changeTheme" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-button class="md-title center" [routerLink]="['/news']" routerLinkActive="router-link-active"
        (click)="drawer.toggle()">
        <i class="far fa-newspaper"></i> News</a>
      <br>
      <a mat-button [routerLink]="['/map']" routerLinkActive="router-link-active" (click)="drawer.toggle()">
        <i class="fas fa-map-marked-alt"></i> Eco maps</a>
      <a mat-button [routerLink]="['/house']" routerLinkActive="router-link-active" (click)="drawer.toggle()">
        <i class="fas fa-home"></i> Eco house</a>
      <a mat-button [routerLink]="['/car']" routerLinkActive="router-link-active" (click)="drawer.toggle()">
        <i class="fas fa-car"></i> Eco car</a>      
      <br>
      <button *ngIf="!register" mat-button (click)="openSignInDialog()">Sign in</button>
      <button *ngIf="register" [matMenuTriggerFor]="cabinetOptions" mat-button>
        <i matTooltip="Admin cabinet allows you extra rights" [matTooltipPosition]="'below'" *ngIf="!menuType"
          class="fas fa-user-shield"></i>
        <i matTooltip="User cabinet" [matTooltipPosition]="'below'" *ngIf="menuType" class="fas fa-user"></i>
        Cabinet
      </button>
      <mat-menu #cabinetOptions="matMenu">
        <!--House / flat info -> advices -->
        <!--TODO: Dynamic naming-->
        <!--TODO: Add function of creating events in admin cabinet-->
        <button *ngIf="menuType" mat-menu-item [routerLink]="['/profile']">Profile</button>
        <button *ngIf="menuType" mat-menu-item [routerLink]="['/activities']">Activities</button>
        <button *ngIf="!menuType" mat-menu-item
          [routerLink]="['/control-panel']">Control panel</button>
        <button *ngIf="!menuType" mat-menu-item
          [routerLink]="['/statistic-zone']">Statistic zone</button>
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>

      <!-- <mat-menu #createZone="matMenu">
        <button mat-menu-item [routerLink]="['/personal-area']">Create article</button>
        <button mat-menu-item [routerLink]="['/personal-area']">Create event</button>
      </mat-menu>

      <mat-menu #userStatistic="matMenu">
        <button mat-menu-item [routerLink]="['/personal-area']">User statistic</button>
        <button mat-menu-item [routerLink]="['/personal-area']">Eco statistic</button>
      </mat-menu> -->
      <br>
      <mat-slide-toggle [class.alternative]="changeTheme" [(ngModel)]="changeTheme" (change)="themeChanged($event)"  matTooltip="You can change theme for visually impaired persons" [matTooltipPosition]="'below'">
      </mat-slide-toggle>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [class.alternative]="changeTheme">
    <mat-toolbar role='heading' class="z-depth-5" color="primary">
      <button class="burger" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="eco-service"><a class="home" [routerLink]="['/home']"
          routerLinkActive="router-link-active">EcoService</a></span>
      <span class="spacer"></span>
      <div class="tool-bar">
        <a mat-button class="md-title center" [routerLink]="['/news']" routerLinkActive="router-link-active">
          <i class="far fa-newspaper"></i> News</a>
        <a mat-button [routerLink]="['/map']" routerLinkActive="router-link-active">
          <i class="fas fa-map-marked-alt"></i> Eco maps</a>
        <a mat-button [routerLink]="['/house']" routerLinkActive="router-link-active">
          <i class="fas fa-home"></i> Eco house</a>
        <a mat-button [routerLink]="['/car']" routerLinkActive="router-link-active">
          <i class="fas fa-car"></i> Eco car</a>
        <button *ngIf="!register" mat-button (click)="openSignInDialog()">Sign in</button>
        <button *ngIf="register" [matMenuTriggerFor]="cabinetOptions" mat-button>
          <i matTooltip="Admin cabinet allows you extra rights" [matTooltipPosition]="'below'" *ngIf="!menuType"
            class="fas fa-user-shield"></i>
          <i matTooltip="User cabinet" [matTooltipPosition]="'below'" *ngIf="menuType" class="fas fa-user"></i>
          Cabinet
        </button>
        <mat-menu #cabinetOptions="matMenu">
          <!--House / flat info -> advices -->
          <!--TODO: Dynamic naming-->
          <!--TODO: Add function of creating events in admin cabinet-->
          <button *ngIf="menuType" mat-menu-item [routerLink]="['/profile']">Profile</button>
          <button *ngIf="menuType" mat-menu-item [routerLink]="['/activities']">Activities</button>
          <button *ngIf="!menuType" mat-menu-item
            [routerLink]="['/control-panel']">Control panel</button>
            <!-- [matMenuTriggerFor]="userStatistic" -->
          <button *ngIf="!menuType" mat-menu-item 
            [routerLink]="['/statistic-zone']">Statistic zone</button>
          <button mat-menu-item [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="signOut()">Sign Out</button>
        </mat-menu>

        <!-- <mat-menu #createZone="matMenu">
          <button mat-menu-item [routerLink]="['/personal-area']">Create article</button>
          <button mat-menu-item [routerLink]="['/personal-area']">Create event</button>
        </mat-menu>

        <mat-menu #userStatistic="matMenu">
          <button mat-menu-item [routerLink]="['/personal-area']">User statistic</button>
          <button mat-menu-item [routerLink]="['/personal-area']">Eco statistic</button>
        </mat-menu> -->

        <mat-slide-toggle [class.alternative]="changeTheme" [(ngModel)]="changeTheme" (change)="themeChanged($event)"  matTooltip="You can change theme for visually impaired persons" [matTooltipPosition]="'below'">
        </mat-slide-toggle>
        
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
