.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.tool-bar {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-slide-toggle {
  height: 24px !important
}

::ng-deep .mat-slide-toggle-label {
  margin-top: 0.5vh !important
}

.spacer {
  flex: 1 1 auto;
}

@media (min-width: 769px) {
  .sidenav {
    display: none !important;
  }

  .burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .tool-bar {
    display: none;
  }
}
