.mat-dialog-content {
  display: flex;
  justify-content: center;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.password-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

.dialog-content {
  margin-top: 5vh;
}

.authorization-dialog-content {
  margin-top: 10vh;
}

.errorMessage {
  text-align: center;
  background-color: #A0E5E8;
  color: white;
  width: 20vw;
  font-style: oblique;
  animation: 2s alertAnimation forwards;
}

@keyframes alertAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
