<mat-toolbar role='heading' color='warn' class="z-depth-5">
  <mat-toolbar-row>
    <!-- <span class="center">E</span> -->
    <a mat-button class="md-title center" [routerLink]="['/news']" routerLinkActive="router-link-active">
      <i class="far fa-newspaper"></i> News</a>
    <a mat-button [routerLink]="['/map']" routerLinkActive="router-link-active">
      <i class="fas fa-map-marked-alt"></i> Eco maps</a>
    <a mat-button [routerLink]="['/house']" routerLinkActive="router-link-active">
      <i class="fas fa-home"></i> Eco house</a>
    <a mat-button [routerLink]="['/car']" routerLinkActive="router-link-active">
      <i class="fas fa-car"></i> Eco car</a>
    <a mat-button [routerLink]="['/activities']" routerLinkActive="router-link-active">
      <i class="fas fa-leaf"></i> Activities</a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="headerHelperCard">
  <mat-card-title color='warn'>EcoService - your provider in ecology</mat-card-title>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="z-depth-5" mat-button>Start</button>
    <button class="z-depth-5" mat-button>Share</button>
  </mat-card-actions>
</mat-card>
