img {
  max-width: 100%;
  max-height: 100%;
}

* {
  font-size: 20pt;
}

.fake-menu {
  text-align: center;
  list-style: none;
}

table {
  margin: 0 10vw 0 10vw;
  text-align: center;
  width: 80vw;
}

td {
  padding: 15px 30px 15px 0;
  text-align: center;
}

hr {
  width: 80vw;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.option-text {
  text-align: left;
}

.eco-maps-description {
  display: none;
}

.events-map {
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 10px;
}

.events-map-initial {
  border-radius: 10px;
  filter: blur(1px);
}

.pollution-map {
  border-radius: 10px;
  position: absolute;
  bottom: 36vh;
  left: 50vw;
}

.option-description-text {
  margin-top: 15px;
}

.sign-in {
  transition: color 0.5s ease;
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}

.sign-in:hover {
  color: #BE145A;
}

ul.fake-menu li {
  margin-right: 7px;
  display: inline;
}

.center {
  text-align: left;
}

.mat-toolbar-row {
  justify-content: center;
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.headerHelperCard {
  height: calc(89vh - 14px);
  color: gray;
  text-align: center;
  /* height: auto; */
}

.mat-card {
  border-radius: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

/* 
tr.border td {
  border-bottom: 3px solid white;
} */

@media (max-width: 1352px) {
  .pollution-map {
    display: none;
  }

  .events-map {
    display: inline-block;
    filter: blur(0px);
  }

  .events-map-initial {
    display: none;
  }
}

@media (max-width: 938px) {
  .events-map {
    display: none;
  }

  .eco-maps-description {
    display: inline-block;
    text-align: center;
  }

  table {
    width: 0vw;
  }
}
