<!-- <mat-toolbar role='heading' color='warn' class="z-depth-5">
  <mat-toolbar-row>
    <a mat-button class="md-title center" [routerLink]="['/news']" routerLinkActive="router-link-active">
      <i class="far fa-newspaper"></i> News</a>
    <a mat-button [routerLink]="['/map']" routerLinkActive="router-link-active">
      <i class="fas fa-map-marked-alt"></i> Eco maps</a>
    <a mat-button [routerLink]="['/house']" routerLinkActive="router-link-active">
      <i class="fas fa-home"></i> Eco house</a>
    <a mat-button [routerLink]="['/car']" routerLinkActive="router-link-active">
      <i class="fas fa-car"></i> Eco car</a>
    <a mat-button [routerLink]="['/activities']" routerLinkActive="router-link-active">
      <i class="fas fa-leaf"></i> Activities</a>
  </mat-toolbar-row>
</mat-toolbar> -->
<mat-card [class.alternative]="changeTheme" class="headerHelperCard">

  <table class="table">
    <tr class="border">
      <td class="option-text">News</td>
      <td colspan="5">Eco news from popular "green" sources</td>
    </tr>
    <tr>
      <td class="option-text">Eco maps</td>
      <td colspan="5">
        <!-- <img class="events-map-initial" src="../../assets/images/homePageInitialPic.png" alt=""> -->
        <!-- <img class="events-map" src="../../assets/images/homePageMap.png" alt=""> -->
        <img class="pollution-map" src="../../assets/images/homePagePollutionMap.png" alt="">
       <span class="map-description">Eco maps will help you to participate in 'green' event & avoid pollution</span>
      </td>
    </tr>
    <tr>
      <td class="option-text">Eco {{dwellingType}}</td>
      <td colspan="5">Some extra information about your {{dwellingType}} or flat material</td>
    </tr>
    <tr>
      <td class="option-text">Eco car</td>
      <td colspan="5">Some extra information about car: economy & ecological alternatives</td>
    </tr>
    <tr>
      <td class="option-text">Personal advices</td>
      <td colspan="5">You will open this function after you will <span (click)="openSignIn($event)" class="sign-in">Sign
          in</span></td>
    </tr>
  </table>

  <!-- <mat-card-title color='warn'>EcoService - your provider in ecology</mat-card-title>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="z-depth-5" mat-button>Start</button>
    <button class="z-depth-5" mat-button>Share</button> -->
  <!-- </mat-card-actions> -->


</mat-card>
