.container {
  padding: 3% 10% 10%;
}

h1 {
  text-align: center;
}

p {
  text-indent: 2em;
  text-align: justify;
}

.bold {
  font-weight: bold;
}

ul.a {
  list-style-type: circle;
}

.green {
  color: #45997A;
}

.red {
  color: #FF616E
}

.sign-in {
  color: gray;
  transition: color 0.5s ease;
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}

.sign-in:hover {
  color: #BE145A;
}

.orange {
  color: #EBB52F;
}
