<div class="container">
  <h1>Car information</h1>
  <p>
    <span class="bold green">Fill Under-inflated Tires</span>
    When was the last time you checked your tire pressure? Under-inflated tires don't roll as efficiently as fully
    inflated ones, so your engine has to work harder to get them moving. That means your car burns more fuel.
    Maintaining correct tire pressure is one of the easiest things you can do to boost your fuel economy.

    Correct pressure varies between tires and cars, but the suggested range is generally printed on a sticker inside the
    driver's door or in the owner's manual. At a gas station, use an air compressor to check and fill your tires.
    Unscrew the valve cap, then watch the gauge on the filler to know when to stop.

    Properly filled tires also last longer, so keeping them topped off reduces the number of tires that end up in
    landfills, and you'll also be saving money on gas. It's best to get in the habit of checking your tires at least
    once a month.
  </p>
  <p>
    <span class="bold red">Remove Extra Weight</span>
    The more your car weighs, the more fuel it uses – it's as simple as that. Remove any excess weight from your car and
    you could see a bump in fuel economy. That's not to say that you should rip out the back seats or stereo, but if
    there's extra stuff going with you everywhere you drive, leave the load at home.

    Only keep the essentials in your car. The fuel saved might be incremental between fill-ups, but over thousands of
    miles it can help make a difference.
  </p>
  <p>
    <span class="bold green" Fill Up the Right Way></span>
    The way you put fuel in your car actually makes a difference. Topping off your tank with that little extra after the
    pump stops increases the chance of harmful vapors escaping your tank. Modern cars have an emissions canister that's
    designed to prevent fuel vapors from leaking into the atmosphere. Topping off your tank forces liquid fuel into the
    canister, reducing its effectiveness. Too much overfilling could make it completely useless.

    An overfilled tank can also spill fuel, which then evaporates into the atmosphere. So never top off your tank, and
    always make sure your fuel cap is screwed on tight to further reduce vapor emissions.
  </p>
  <p>
    <span class="bold red">Avoid Air Conditioning</span>
    At the peak of summer it's hard to resist indulging in some ice cold air conditioning, but turning it on isn't great
    for the planet. Ever noticed an engine that surges when the A/C gets turned on? A/C increases the strain on your
    car's electrical system, which makes the engine work harder to compensate, leading to higher fuel consumption.

    Although you'll be helping out the Earth, it takes serious willpower to never use it. If you can't stand the heat,
    at least make sure that the system pressure and refrigerants are at the correct levels. An A/C system that isn't
    maintained doesn't work as efficiently as one that is.

    Another option is to roll down the windows to let air in. While there's debate about whether this actually increases
    aerodynamic drag to the point of being less efficient, it's another way to stay cool in hot weather. It's safe to
    assume that when driving around town the drag won't cause less efficiency than the A/C would. However, at freeway
    speeds, keep your windows shut to allow air to flow more smoothly over your car.
  </p>
  <p>
    <span class="bold orange">Maintain the Radiator</span>
    Engines have an ideal, Goldilocks kind of operating temperature—not too hot, not too cold. That's maintained by the
    radiator and cooling system. There's a thermostat in the system that tells the radiator how hard it needs to work,
    and if it's faulty, you're in for some trouble. If the thermostat runs cold, it reduces your engine's efficiency. If
    it runs hot, your engine can overheat and blow the radiator or head gasket. So if the temperature gauge on your
    dashboard falls anywhere but smack in the middle, have the radiator and cooling system checked by a mechanic. It
    could help boost your fuel economy and avoid a costly repair.
  </p>
  <p>
    <span class="bold orange">Fix the Fuel System</span>
    Unsurprisingly, if a fuel system component like the fuel pump, fuel filter, fuel lines, or fuel injectors is faulty,
    it's going to result in reduced fuel efficiency. The filter should be changed and injectors flushed about every
    30,000 miles as part of normal maintenance. However, if you smell fuel in or near your car, have the entire system
    checked immediately. It could be that a line or seal is leaking and letting fuel drip out on the road.
  </p>
  <p>
    <span class="bold orange">Check the Emissions System</span>
    Your car's emissions system cleans and minimizes the exhaust fumes exiting the tailpipe. It's a complex system, and
    if one of its parts goes bad the greenhouse gases that your car produces will multiply. Fortunately your car will
    usually let you know when there's a problem by illuminating the Check Engine Light, and if that happens you need to
    get it inspected right away.

    Cars are legally required to meet environmental impact standards, and it's the responsibility of the driver to make
    it meets them.
  </p>
  <p>
    <span class="bold green">Get Regular Tune-ups</span>
    Keeping your car tuned up is a smart way to improve its longevity, reliability, and fuel economy. Oil changes are
    the first thing to do, and need to be completed about every 5,000 miles. Oil becomes more viscous after time and
    use, making it harder for the components in your engine to move as intended. New oil provides fresh lubrication,
    letting them operate with less resistance.

    Spark plugs ignite the air/fuel mixture in the engine cylinders, creating the power that makes your car move. Over
    time they can get dirty or break, leading to incomplete fuel burn which not only makes your engine less powerful,
    but less efficient. Check your spark plugs every 30,000 miles to make sure they're in good shape, and replace them
    if not.

    The oxygen sensor in your car determines the concentration of the air/fuel mixture entering the engine. If it's
    faulty or dirty it can throw the mixture out of balance and unnecessarily pump extra fuel into the engine. Have the
    oxygen sensor checked whenever you get a tune up to make sure it's in good shape.
  </p>
  <p>
    <span class="bold green">Drive Smarter</span>
    Even if your car is in perfect working order, the way you drive makes a huge difference. When you drive aggressively
    or accelerate rapidly, you're making your car burn more fuel than it needs to. Plan your driving route for maximum
    efficiency and try to avoid making detours. If you're waiting in your car, avoid idling the engine at all costs –
    you're just sitting there burning fuel otherwise. When the road is clear, use cruise control to maintain a steady
    speed without rapid accelerations or decelerations.
  </p>
</div>
