agm-map {
  height: 550px;
  width: 98vw;
  transition-property: width;
  transition-duration: 0.75s;
}

ul {
  display: flex;
  justify-content: center;
}

ul.legend {
  margin: 0px;
  padding: 10px;
}

ul.legend li {
  display: inline;
  text-align: center;
  list-style-type: square;
  margin-right: 10px;
  padding: 3px;
}

ul.legend li {
  cursor: pointer;
}

.fa-times {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 40vw;
  cursor: pointer;
  font-size: 20pt;
}

.fa-map-marker {

  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: 40vw;
  cursor: pointer;
  font-size: 20pt;
}

:host ::ng-deep .mat-tab-body-content {
  height: auto !important;
  overflow: hidden !important;
}

ul.legend li.const-pollution {
  color: #EDA2A8;
  border-radius: 7px;
  border: 1px solid #EDA2A8;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

ul.legend li.temporary-pollution {
  color: #E2E6AE;
  border-radius: 7px;
  border: 1px solid #E2E6AE;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

ul.legend li.const-pollution:hover {
  color: white;
  border-radius: 20px;
  border: 1px solid #EDA2A8;
  background-color: #EDA2A8;
}

ul.legend li.temporary-pollution:hover {
  color: white;
  border-radius: 20px;
  border: 1px solid #E2E6AE;
  background-color: #E2E6AE;
}

ul.legend li.personal-marker {
  color: #E6423A;
  border-radius: 7px;
  border: 1px solid #E6423A;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

ul.legend li.hot-marker {
  color: #E98970;
  border-radius: 7px;
  border: 1px solid #E98970;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

ul.legend li.coming-soon-marker {
  color: #87FD9F;
  border-radius: 7px;
  border: 1px solid #87FD9F;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

ul.legend li.wip-marker {
  color: #E6D19E;
  border-radius: 7px;
  border: 1px solid #E6D19E;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

ul.legend li.personal-marker:hover {
  color: white;
  border-radius: 20px;
  border: 1px solid #E6423A;
  background-color: #E6423A;
}

ul.legend li.hot-marker:hover {
  color: white;
  border-radius: 20px;
  border: 1px solid #E98970;
  background-color: #E98970;
}

ul.legend li.wip-marker:hover {
  color: white;
  border-radius: 20px;
  border: 1px solid #E98970;
  background-color: #E98970;
}

ul.legend li.coming-soon-marker:hover {
  color: white;
  border-radius: 20px;
  border: 1px solid #87FD9F;
  background-color: #87FD9F;
}

ul.legend li::before {
  color: red;
}

.local-navigation-menu {
  margin: 10px;
}

.shiftedMap {
  width: 45vw;
}

.activityInfo {
  width: 45vw;
  margin-top: -550px;
  float: right;
  width: 45vw;
}

.disable {
  display: none;
}

.container {
  margin: 16px;
}

.row {
  display: flex;
}

.pollutionInfo {
  width: 45vw;
  margin-top: -550px;
  float: right;
  width: 45vw;
}

@media (max-width: 858px) {
  .activityInfo {
    margin-top: 0;
    float: none;
    width: 98vw;
  }

  .pollutionInfo {
    margin-top: 0;
    float: none;
    width: 98vw;
  }

  .shiftedMap {
    width: 98vw;
  }
}
