<mat-tab-group class="local-navigation-menu">
  <mat-tab label="Events map">
    <div class="container">
      <h1>Events map</h1>
      <!-- [mapDraggable]="false -->
      <ul class="legend">
        <li class="personal-marker">Your current location marker</li>
        <li class="hot-marker">Hot event marker</li>
        <li class="wip-marker">Work in progress event marker</li>
        <li class="coming-soon-marker">Nearest future event marker</li>
      </ul>
      <agm-map [ngClass]="{shiftedMap: shiftMarker}" class="shiftedMap" [clickableIcons]="true" [zoom]="11"
        [latitude]="lat" [longitude]="lng" [zoomControl]="false">

        <!--User position marker-->
        <agm-marker (markerClick)="markerClick($event)" [latitude]="lat" [longitude]="lng" [label]="'Me'"></agm-marker>

        <!--Work in progress marker-->
        <agm-marker *ngFor="let marker of wipMarkers" (markerClick)="markerClick($event)" [latitude]="marker.lat"
          [longitude]="marker.lng" [opacity]="1" [label]="marker.label" [iconUrl]="wipIcon"
          (mouseOver)="markerOver(marker)" (mouseOut)="markerOut(marker)"></agm-marker>

        <!--Hot markers-->
        <agm-marker *ngFor="let marker of hotMarkers" (markerClick)="markerClick($event)" [latitude]="marker.lat"
          [longitude]="marker.lng" [opacity]="0.7" [title]='asfhadk' [label]="marker.label" [iconUrl]="hotIcon"
          (mouseOver)="markerOver(marker)" (mouseOut)="markerOut(marker)"></agm-marker>

        <!--Coming soon markers-->
        <agm-marker *ngFor="let marker of comingSoonMarkers" (markerClick)="markerClick($event)" [latitude]="marker.lat"
          [longitude]="marker.lng" [opacity]="0.7" [label]="marker.label" [iconUrl]="commingSoonIcon"
          (mouseOver)="markerOver(marker)" (mouseOut)="markerOut(marker)"></agm-marker>


      </agm-map>
      <div [ngClass]="{disable: !shiftMarker}" class="activityInfo disable">
        <h1>Event name</h1>
        <h2>Description</h2>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="Polution map">
    <div class="container">

      <h1>Polution map</h1>
      <ul class="legend">
        <li class="const-polution">Constant polution</li>
        <li class="temporary-polution">Temporary polution (depends from traffic or year season)</li>
      </ul>
      <agm-map [ngClass]="{shiftedMap: shiftPollution}" [clickableIcons]="true" [zoom]="11" [latitude]="lat"
        [longitude]="lng" [zoomControl]="false">
        <agm-marker (markerClick)="markerClick($event)" [latitude]="lat" [longitude]="lng" [label]="'Me'"></agm-marker>

        <!--Constant polution markers for place description-->
        <agm-marker *ngFor="let m of polutionMarkerDescription" (markerClick)="markerForDescription($event)" [latitude]="m.lat"
          [longitude]="m.lng" [opacity]="0.7" [title]='asfhadk' [iconUrl]="hotIcon"
          >

        </agm-marker>
        <!--Constant pollution circle-->
        <agm-circle *ngFor="let m of constantPolutionCircle" [latitude]="m.lat" [longitude]="m.lng" [radius]="800"
          [fillColor]="'red'" [circleDraggable]="false" [editable]="false" (circleClick)="circleClick($event)">
        </agm-circle>

        <!--Temporary pollution marker-->
        <agm-circle *ngFor="let m of temporaryPolutionCircle" [latitude]="m.lat" [longitude]="m.lng" [radius]="800"
          [fillColor]="'yellow'" [circleDraggable]="false" [editable]="false" (circleClick)="circleClick($event)">
        </agm-circle>

      </agm-map>
      <div [ngClass]="{disable: !shiftPollution}" class="pollutionInfo disable">
        <h1>Object name or id</h1>
        <h2>Pollution description {{description}}</h2>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Route map">

  </mat-tab>
</mat-tab-group>
