<mat-spinner *ngIf="spin" [diameter]="100" [value]="1"></mat-spinner>

<main *ngIf="!spin">

  <div *ngFor="let item of newsInfo" class="container">
    <div class="card">
      <a href="{{item['Link']}}">
        <div class="image-container">
          <img class="image"
            src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80"
            alt="">

        </div>
        <svg class="svg" viewBox="0 0 800 500">

          <path
            d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
            stroke="transparent" fill="#333" />
          <path class="line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
            stroke="pink" stroke-width="3" fill="transparent" />
        </svg>
      </a>
      <div class="content">
        <div class="row-card-admin">
          <h3 class="title">{{item['Title']}} </h3>
        </div>

        <i *ngIf="dots" class="fas fa-ellipsis-v" [matMenuTriggerFor]="adminRights"></i>
        <mat-menu #adminRights>
          <button #get="Id" [Id]="item['NewsId']" mat-menu-item (click)="deleteNews(get.Id)">Delete</button>
        </mat-menu>
        <p class="description">{{[item['Description']]}}</p>
        <p class="date">Publishing date: {{item['Date']}}</p>
      </div>
    </div>
  </div>
</main>
