.fa-arrow-left {
  margin-top: 30px;
  margin-left: 30px;
  transition: 0.5s ease color;
}

.fa-arrow-left:hover {
  cursor: pointer;
  color: #BE145A;
}

.map-container {
  margin-top: 5% !important;
  padding: 0 50px 0 50px;
}

agm-map {
  border-radius: 10px;
  height: 500px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub {
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
}
