<i [routerLink]="['/personal-area']" routerLinkActive="router-link-active" class="fas fa-arrow-left"></i>
<br>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="container">
  <div class="sub">
    <p>Email: {{email}}</p>
    <p>District: {{district}}</p>
  </div>
  <div class="sub">
  <p>House type: {{houseType}}</p>    
  <p *ngIf="flatStage !== undefined">Your house stages amount: {{flatStage}}</p>
  <p *ngIf="stageAmount !== undefined">Your flat stage: {{stageAmount}}</p>
  </div>
</div>
