<mat-card [class.alternative]="changeTheme" class="headerHelperCard">
  <div class="container">
    <h1><span class="green">Eco</span> house advices</h1>
    <p>
      Fundamental sciences of harmonious habitat
      space around us.a1
      tend to choose environmentally friendly materials. Increased attention to the use in the construction of housing
      environmentally friendly, not exclusively harmful substances.
      regional market of low-rise construction. Primary perceived the actual trend is private developers,
      Every year is gaining popularity.
    </p>

    <p>
      What house can be considered environmentally <span class="green">friendly</span>
      To become the owner of eco-house, you must follow a few basic rules:
    </p>
    <ul class="a">
      get electricity from wind turbines on the roof or solar panels;
      <li>
        use springs and wells as sources of water;
      </li>
      <li>
        apply biotechnology recycling.
      </li>
      <li>
        Eco-house - not only restrictions on the choice of materials of finishing, but also the observance of strict
        canons
      </li>
      <li>
        by location houses
      </li>
      <li>
        in ecologically safe area. In addition, an environmentally clean house must be equipped with a system
      </li>
      <li>
        recycling and recycling of human activity. But today we will focus on materials for
      </li>
    </ul>

    <p>

      <span class="green"> Features</span> of the choice of materials for the construction of eco-house

      Those who chose to live in harmony with nature and build a house that meets all the requirements of ecology,
      it is necessary to comply with the requirements both at the construction stage and during the improvement, as well
      as to choose the right
      Construction Materials:s


      “Grandfathers” - clay, straw or a modern straw substitute - chips. Clay - the most affordable material for
      erection
      ecohouse, as it is located right under your feet. Modern manufacturing techniques of the composition do not differ
      much.
      from
      "Grandfathers", in addition to the use of equipment - concrete mixers: pour the components, add water, mix,
      metering
      "approximately". The consistency of the solution is not too greasy and not too thin;

    </p>
    <p>
      <span class="green">"Geocar"</span> - this unique building material appeared on the market relatively recently.
      Its
      basis is
      recycled peat, wood chips and straw. From these components prepare a solution, poured into forms and dried.
      This material is ideal for the construction of an environmentally friendly home. Peat serves as an antiseptic and
      eliminates destructive
      the action of microorganisms. This is just one of the advantages of a geocar, besides it has an affordable price,
      high
      heat capacity, long service life, perfectly absorbs noise and odors. In the house of geokar always fresh and
      clean.

      cool in the summer heat and warm in the most severe frosts;
      The use of straw, peat, sawdust is not only a fashion trend in construction, these materials are proven by
      generations,
      who received a rebirth with the advent of eco-homes. Samanny house is a building of blocks, plastered
      clay
      which possesses not only excellent heat-shielding properties, but also withstands a temperature of 100º for
      several
      hours.
    </p>
    <p>
      <span class="green"> Claydite </span> concrete is a lightweight concrete, based on fired clay, which is produced
      entirely
      excludes any chemical substances;
      Wood - as an environmentally friendly material, but its treatment with various impregnations and
      antiseptics, varnishes, paints should be made of environmentally friendly compounds. The ones that
      are made on a natural basis - water emulsion, acrylic. Ganosis paint is one of the most ecological,
      consisting of linseed oil and beeswax.
      It is possible, having refused treatment with flame retardants and antiseptics in favor of the safe "grandfather"
      technology - to cover
      wood clay;
    </p>

    <p>
      modern synthetic insulators should be replaced with a healthy mixture solution
      clay and chips (straw);
      Eco-house exterior finish - plaster on reed slab cladding;
      Recently fashionable roofing material is ecologically clean roof from a reed. The reed is not only excellent
      insulation, reed allows the roof to breathe.
      Materials for interior decoration
    </p>
    <p>
      It is recommended that the interior of the eco-house be made of cork oak, an elastic material that is sold
      in the sheets. The advantage of the plug is its simple installation, long term heat preservation, durability and
      durability,
      a variety of designs and an amazing ability to restore form in the process of operation. In addition, for
      The formation of a favourable atmosphere and a healthy indoor climate will be suitable for ceramic tiles -
      Fire-resistant, fire-resistant, biologically-resistant clay material in a variety of colours.

      In short, the choice of building materials today is huge. What will be your home, depends on how thoughtfully
      you'll make that choice. When building an eco-friendly home, better understand the technical characteristics and
      properties of the materials,
      that you intend to use to build.
    </p>
    <p>Additional links:</p>
    <p><a class="sign-in" href="https://bit.ly/1EedNmX">https://bit.ly/1EedNmX</a></p>
    <p><a href="https://bit.ly/2xhB3Hv" class="sign-in">https://bit.ly/2xhB3Hv</a></p>
    <p><a href="https://wb.md/2X8twu0" class="sign-in">https://wb.md/2X8twu0</a></p>
    <p><a href="https://bit.ly/2eNZLcw" class="sign-in">https://bit.ly/2eNZLcw</a></p>
  </div>
</mat-card>
