<i [routerLink]="['/personal-area']" routerLinkActive="router-link-active" class="fas fa-arrow-left"></i>

<div class="grid">
  <div class="grid-group">
    <div class="grid-cell" id="dealsByStageCell">
    <div class="pie-chart">
      <div class="chart-name">
        Houses types
      </div>
      <canvas style="height: 30vh;" id="house-type"></canvas>
      <div class="house-type-legend">
        <div id="house-type-legend"></div>
      </div>
    </div>
  </div>
    <div class="grid-cell" id="dealsByTheirsTypeCell">
      <div class="pie-chart">
        <div class="chart-name">
          Events per districts </div>
        <canvas style="height: 30vh;" id="district"></canvas>
        <div class="district-legend">
          <div id="district-legend"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-group">
    <div class="grid-cell" id="leadsByStageCell">
      <div class="pie-chart">
        <div class="chart-name">
          Reading type
        </div>
        <canvas style="height: 30vh;" id="reading-type"></canvas>
        <div class="reading-type-legend">
          <div id="reading-type-legend"></div>
        </div>
      </div>
    </div>
    <div class="grid-cell" id="leadsByIndustryCell">
      <div class="pie-chart">
        <div class="chart-name">
          Dwelling type
        </div>
        <canvas style="height: 30vh;" id="dwelling-type"></canvas>
        <div class="dwelling-type-legend">
          <div id="dwelling-type-legend"></div>
        </div>
      </div>
    </div>
  </div>
</div>
